.card {
    width: 30%;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-columns {
    width: 100%;
}

.btn-secondary {
    text-align: center;
    width: 100%;
    border-radius: 4px !important;
}
.btn-group.special {
    display: flex;
    width: 100%;
}

.special .btn {
    flex: 14;
}

.btn.btn-secondary.helptextbutton{
    flex: 1;
    margin-left: 15px !important;
    border-radius: 4px;
}

.btn-group {
    padding: 5px;
}